.homeContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  color: whitesmoke;
}

.homeContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 14, 27, 0.7);
}

.homeColumn {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.homeBckImg1,
.homeBckImg2,
.homeBckImg3,
.homeBckImg4 {
  height: 100%;
  background-size: cover;
}

.homeBckImg1 {
  background-image: url('../../assets/bck-img-1.jpg');
}

.homeBckImg2 {
  background-image: url('../../assets/bck-img-3.jpg');
}

.homeBckImg3 {
  background-image: url('../../assets/bck-img-4.jpg');
}

.homeBckImg4 {
  background-image: url('../../assets/bck-img-2.jpg');
}

.homeText {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.homeWelcome {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(4rem, 5vw, 6rem);
  text-shadow: 0 0 20px rgb(200, 150, 90);
}

.homeParagraph {
  font-size: clamp(1.1rem, 2vw, 1.8rem);
  text-shadow: 0 0 20px rgb(200, 150, 90);
}