.errorPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  color: whitesmoke;
}

.errorPage h1 {
  font-size: 3rem;
}

.errorPage p {
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
}

.errorPage a {
  font-size: 1.5rem;
  color: whitesmoke;
}