.rootHeader {
  grid-area: header;
}

.rootMain {
  grid-area: main;
}

.rootFooter {
  grid-area: footer;
  padding: 10px 0;
  color: whitesmoke;
  background-color: rgb(32, 32, 32);
  text-align: center;
  a {
    color: whitesmoke;
  }
}